[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "*"
tortoise-orm = "*"
python-dotenv = "*"
pillow = "*"
python-docx = "*"
docx2pdf = "*"
pandas = "*"
openpyxl = "*"
pdfkit = "*"
weasyprint = "*"
pypdf2 = "*"
pdf2image = "*"
moviepy = "*"
pydub = "*"
ffmpeg-python = "*"
python-magic = "*"
rarfile = "*"
fpdf = "*"
cairosvg = "*"
svglib = "*"
reportlab = "*"
fitz = "*"
pymupdf = "*"
pdf2docx = "*"
odfpy = "*"
odfdo = "*"

[dev-packages]

[requires]
python_version = "3.12"
